/* .row-border {
    border: 1px solid gray;
    border-radius: 7px;
}

.name-input{
    width: 100%;
}

.desc-input{
    width: 100%;
    height: 200px;
}

.front-input{
    width: 100%;
    height: 75px;
}

.back-input{
    width: 100%;
    height: 75px;
} */